/*reset*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
/*global*/
.new-flex{
    display: flex;
}
.container{
    width: 80%;
    margin: auto;
}
.padding-top-bottom{
    padding: 15% 0%;
}
.gray-c{
    background-color: rgb(192, 191, 191);
}
/*custom*/
.card {
    width: 30%;
    /* background-color: white; */
    /* margin-top: 25%; */
    /* padding: 29% 7% 2% 7%; */
    /* margin-bottom: 12%; */
    margin-right: 3%;
    position: relative;
    transition: 1s ease;
}
.f-size{
    font-size: 13px;
}
.img-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 29%;
    transition: 1s;
    height: 100%;
}


.card:hover img{
    transform: translate(-30px,-30px);
}
.card:hover .content{
    transform: translate(20px ,20px);
}

.content{
   margin-top: 29%;
    width: 100%;
    background-color: rgb(136, 132, 132);
    padding: 2%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    transition: 1s;
    height: 200px;
}